
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root{

    --main-color: #fcb700;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
    

}


body{

    background-color: #f5f6f9;
    margin-top: 180px;
}

h1,h2,h3,h4,h5,h6{

    color: var(--dark-color)
}

p{

    color: var(--parg-color)
}


/******************************************** header ********************************************************/

header{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
}


header .top-nav{


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
}

.container{

    width: 75%;
    margin: auto;
    
}


@media (max-width: 1500px){

    .container{

        width: 90%;
        
    }

}

header .top-nav .logo{

    font-size: 45px;
    font-weight: bold;
    padding: 0px 15px;
    background-color: var(--main-color);
    border-radius: 30px;
    
}


header .top-nav .search{

    width: 500px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    
}

header .top-nav .search input{

    padding: 18px 175px 18px 20px;
    outline: none;
    border: none;
    width: 100%;

}


header .top-nav .search button{

    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    width: 170px;
    background-color: var(--main-color);
    height: 100%;
    font-size: 15px;
    color: var(--dark-color);
    cursor: pointer;
}

header .top-nav .cart-header{

    display: flex;
    gap: 10px;
    align-items: center;
    
}

header .top-nav .cart-header .icon-cart{

    position: relative;
}

header .top-nav .cart-header i{

    color: var(--dark-color);
    font-size: 20px;
    border: 1px solid var(--border-color);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

header .top-nav .cart-header i:hover{

    background-color: var(--main-color);
    color: #fff;
}

header .top-nav .cart-header .count-item{

    position: absolute;
    background-color: var(--main-color);
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 13px;
    top: -5px;
    right: 0px;
    color: var(--dark-color);
    border: 1px solid var(--border-color)
}


header .top-nav .cart-header .total-price p{

    margin-bottom: 8px;
}

header nav{

    border-top: 1px solid var(--border-color);
}

header nav .links{

    display: flex;
    justify-content: space-between;
    align-items: center;
}


header nav .links ul{

    display: flex;
    gap: 70px
}


header nav .links ul li a{

    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

header nav .links ul li{

    position: relative;
    padding: 20px 0;
}


header nav .links ul li::after{

    content: "";
    position: absolute;
    bottom: 10px;
    left: 0 ;
    height: 2px ;
    width:0 ;
    background-color: var(--main-color) ;
    transition: all 0.3s ease-in-out;
}
header nav .links ul li.active::after,
header nav .links ul li:hover::after{

    width: 100%;
}

header nav .links .login_signup a{

    color: var(--dark-color);
    padding: 10px 20px;
    background-color: var(--main-color);
    margin-left: 10px;
    border-radius: 5px;
}


/****************** cart ***********************/


.cart{

    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    width: 400px;
    background-color: #fff;
    z-index: 1100;
    padding: 30px;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.cart.active{

    right: 0;
}

.cart .top-cart{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .top-cart h3{

    font-size: 18px;
}

.cart .top-cart h3 span{

    font-size: 16px;
    color: var(--parg-color);
    font-weight: normal;
}



.cart .top-cart .close-cart i{

    font-size: 30px;
    cursor: pointer;
    color: var(--dark-color);
    transition: all 0.3s ease-in-out;
}

.cart .top-cart .close-cart i:hover{

    color: var(--dark-red);
    transform: scale(1.2);
}




.cart .items-in-cart{

    padding: 20px 0;
    border-block: 1px solid var(--border-color);
    margin-block: 20px;
    height: 100%;
}


.cart .bottom-cart .total{

    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cart .bottom-cart .total p{

    font-weight: bold;
    font-size: 18px;
}


.cart .bottom-cart .total .price-cart-total{

    color: var(--main-color);
    font-weight: bold;
    font-size: 16px;
}



.cart .button-cart{

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .button-cart .btn-cart{

    border: 2px solid var(--border-color);
    border-radius: 5px;
    color: var(--dark-color);
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.cart .button-cart .btn-cart:hover{

    background-color: transparent;
}

.cart .button-cart .trans-bg{

    background-color: transparent;
}

.cart .button-cart .trans-bg:hover{

    background-color: var(--main-color);
}


.cart .item-cart{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.cart .item-cart img{

    width: 100px;
}

.cart .item-cart:last-child{

    bottom: 0;
}


.cart .item-cart .content h4{

    margin-bottom: 10px;
    font-weight: 500;
}

.cart .item-cart .delete-item{

    border: none;
    outline: none;
}

.cart .item-cart .delete-item i{

    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cart .item-cart .delete-item i:hover{

    color: var(--dark-red);
    transform: scale(1.2);
}


/* ***************************slider *****************************/

.slider .container .side-bar{

    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

}

.slider .container .side-bar h2{

    padding: 20px 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
}

.slider .container .side-bar a{

    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color);
    border-top: 1px solid var(--border-color);
    transition: all 0.3s ease-in-out;
}

.slider .container .side-bar a:hover{

    color: var(--main-color);
}

.slider .container{

    display: flex;
    justify-content: space-between;
}

.slider .container .slide-swp{

    width: calc(100% - 350px );
    overflow: hidden;
    position: relative;
}

.slider .container .slide-swp img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}




.swiper-pagination-bullet-active{

    background-color:var(--main-color) !important;
    width: 35px !important;
    height: 8px !important;
    border-radius: 30px !important;
}




/***************** features ********************/


.features{

    margin: 50px 0;
}

.features .container{

    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    flex-wrap: wrap;
}

.features .container .feature-item{

    width: 18%;
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 20px
}


.features .container .feature-item img{

    width: 50px
}

.features .container .feature-item img h4{

    margin-bottom: 8px;
    font-size: 15px;
}

.features .container .feature-item p{

    font-size: 12px;
}


/************* banner *****************************/

.banner{

    margin: 50px 0;
}

.banner .container{

    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}

.banner .container .banner-img{
    display: flex;
    width: 46%;
    
    position: relative;
    
    
}

.banner .container .banner-img img{

    width: 100%;
}

.banner .container .class-hover{

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
}

.banner .container .class-hover::after{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg , transparent 50% , rgba(255,255,255,0.1) 60% , rgba(255,255,255,0.5) 70% , transparent 71%);
    background-size: 200% 100%;
    background-position: 200% 0;
    cursor: pointer;
    z-index: 90;
    transition: all 0.8s ease-in-out;
}

.banner .banner-img:hover .class-hover::after{

    background-position: -20% 0;
}


.banner .container .banner-img a{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    
}



/************** slide ******************/



.slide{

    margin-bottom: 100px;
}
.top-slide{

    position: relative;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color)
}


.top-slide::after{

    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100px;
    height: 2px;
    background-color: var(--main-color);
}

.slide .top-slide h2{

    text-transform: capitalize
}

.slide .top-slide h2 span{

    font-weight: normal;
}


/******************* product *****************/


.product{

    position: relative;
    background-color: #fff;
    padding: 20px 30px;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 5px 10px #94949428;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 25%
}

.product .img-product{

    position: relative;
    cursor: pointer;
}

.product .img-product img{

    width: 100%;
    transition: all 0.3s ease-in-out;
}

.product .img-product .img-hover{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    scale: 0.1
    
}

.product:hover .img-product .img-hover{

    opacity: 1;
    scale: 1
}

.product .product-name a{

    color: var(--name-item);
    font-size: 16px;
}

.product .product-name a:hover{

    text-decoration: underline;
}

.product .stars{

    margin: 15px 0;
    color: var(--main-color);
}

.product .price{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product .price .old-price{

    text-decoration: line-through;
    color: var(--parg-color);
    font-size: 14.5px;
}

.product .price p{

    color: var(--main-color);
    font-weight: bold;
}


.product .percent{

    position: absolute;
    top: 10px;
    right: 20px;
    background-color: var(--dark-red);
    color: #fff;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 2;
}

.product .icons{

    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: -80px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    
}

.product .icons i{

    font-size: 20px;
    color: var(--dark-color);
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.product .icons i.active{

    background-color: var(--main-color);
    cursor:auto;
    pointer-events: none;
    position: relative;
    overflow: hidden;
}

.product .icons i.active::after{

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004f;
    z-index: 5;
}

.product .icons i:hover{

    background-color: var(--main-color);
}

.product:hover .icons{

    right: 20px
}

.slide .container{

    position: relative;

}

.slide .container .mySwiper{

    overflow: hidden;
    
    padding: 10px;

}


.slide .container .mySwiper .btn_swip{

    position: absolute;
    top: 35px;
    right: 0;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    padding: 0 18px;
    border-radius: 5px;
    
}

.slide .container .mySwiper .btn_swip::after{

    font-size: 25px;

}

.slide .container .mySwiper .btn_swip.swiper-button-prev{

    left: calc(100% - 90px)
}




/********************** banner big **********************/

.banner-big.banner .container .banner-img{

    width: 49%;
    position: relative;
}



/***************** slide-product **************************/

.slide-product .product-swip{

    width: calc(100% - 300px);
    

}

.slide-product .slide-with-img{

    display: flex;
    justify-content: space-between;
}

.slide-product .categ-img{

    padding: 10px 0;
    width: 280px;
    
    
}

.slide-product .categ-img img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}



/*******************newsletter*****************/

.news-letter{

    background-color: #fff;
}


.news-letter .container{


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

}

.news-letter .text{

    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px

}

.news-letter .text img{

    width: 100px
}


.news-letter .text h4{

    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;

}

.news-letter .text p{

    margin: 12px 0;

}

.news-letter .text h6{

    font-size: 20px;
    font-weight: normal;
}


.news-letter .newsletter-form{

    width: 40%;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}


.news-letter .newsletter-form input{

    padding: 20px 175px 20px 20px;
    outline: none;
    border: none;
    width: 100%;
}

.news-letter .newsletter-form input::placeholder{

    text-transform: capitalize;
    font-size: 15px;
}


.news-letter .newsletter-form button{

    background-color: var(--main-color);
    outline: none;
    border: none;
    width: 170px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
    color: #222
}








/*******footer back to top ******************/


.back-to-top{

    background-color: #4d5669;


}

.back-to-top p{

    padding: 22px 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    

}


/**************** footer ***********************/

footer{

    background-color: #394150;
}

footer .container{

    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

footer .container .big-raw{


    width: 30%;
}


footer .container .big-raw .footer-brand{

    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 0px 15px;
     background-color: #4d5669;
    width: fit-content;
    border-radius: 30px;
    color: #fff;

}

footer .container .big-raw .hotline{

    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 10px
}

footer .container .big-raw .hotline i{

    font-size: 60px;
    color: var(--main-color);
}

footer .container .big-raw .hotline h5{

    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}


footer .container .big-raw .hotline h6{

    font-size: 18px;
    color: var(--main-color);
}


footer .container .big-raw p{

    width: 90%;
    color: #b1b1b1;
    font-size: 15px;
    line-height: 1.5;
}


footer .container .raw{

    width: 22%;
}

footer .container .raw h4{

    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

footer .container .raw .links{

    display: flex;
    flex-direction: column;
    gap: 7px
}

footer .container .raw .links a{

    color: #b1b1b1;
    position: relative;
    left: 0;
    transition: all 0.3s ease-in-out;
}

footer .container .raw .links a:hover{

    left: 8px;
    color: var(--main-color);
}


footer .bottom-footer{

    background-color: #202935;
}

footer .bottom-footer .container{

    padding: 20px 0;
    align-items: center;
}


footer .bottom-footer .container span{

    color: var(--main-color);
}

footer .bottom-footer .container .payment-img{

    display: flex;
    gap: 10px;
}



footer .bottom-footer .container .payment-img img{

    filter: grayscale(100%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


footer .bottom-footer .container .payment-img img:hover{

    filter: grayscale(0%);
}



/************************responsive *********************/

header .links ul .bg-overlay,
header .links .btn-open,
header nav .links ul .logo-menu,
header nav .links ul .btn-close{

    display: none;

}
@media (max-width: 1000px){


    header .top-nav .search{

        width: 420px;
    }

    /*.slider .container .side-bar{

        display: block;
        width: 100%
    }*/

    header .top-nav .logo{
    
    font-size: 30px;
    font-weight: bold;
    padding: 5px 15px;
    background-color: var(--main-color);
    border-radius: 30px;
    letter-spacing: 4px;
    border: 1px solid var(--border-color);
    color: #053a68;
    
    
    }


    header nav .links ul P{

        font-size: 30px;
        font-weight: bold;
        text-align: center;
        padding: 6px 14px;
        background-color: var(--main-color);
        width: fit-content;
        margin: 0 auto;
        border-radius: 30px;
        color: #053a68;
        letter-spacing: 4px;
        border: 1px solid var(--border-color);

        
    
    }

    .slider .container{

        flex-wrap: wrap;
        gap: 15px;
        margin: auto;
    }

    

    .features .container .feature-item{

        margin: 0 auto 20px auto ;
        padding-block: 15px;
        border-bottom: 1px solid var(--border-color);
    }

    .news-letter{

        margin-top: 30px;
    }

    .news-letter .container{

        flex-direction: column;
        gap: 30px;
    }


    .news-letter .container .text{

        width: 100%
    }


    .news-letter .newsletter-form{

        width: 70%
    }

    footer .container{

        flex-wrap: wrap;
        gap: 0,
    }

    footer .container .raw{

        width: 40%;
        margin-bottom: 20px;
    }

    footer .container .big-raw{

        width: 50%;
        margin-bottom: 20px;
    }


    footer .container .big-raw .footer-brand{

    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 0px 15px;
    }    


    .banner .container{

        gap: 15px;
        width: 90%;
        margin: 50px auto 30px auto;
    }

    .banner .container .banner-img{

        margin: 0 auto;
        
    }


    .product .percent{

        top: 0px;
        right: 0px;
        padding: 5px 8px;
        font-size: 12px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        
        
    }


    .product .stars i{

         font-size: 11px;   
    }

    .product .stars{

        margin: 10px 0; 
    }

    






    
}


@media (max-width: 900px){

    body{

        margin-top: 240px;
    }


    
    header .top-nav{
        
        flex-wrap: wrap;
        
    }


    header .top-nav .search{

        order: 3;
        width: 80%;
        margin: 10px auto 0;
    }

    header .links{
    
        padding: 20px 0;
    
    }

    header nav .links ul{
        padding-top: 50px;
        position: fixed;
        top: 0;
        left: -900px;
        bottom: 0;
        background-color: #fff;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        border-right: 1px solid var(--border-color);
        text-align: center;
        transition: all 0.3s ease-in-out;
        margin: 0 auto;
        
    
    }

    

    header nav .links ul.active{

        
        left: 0
    }


    /*header nav .links ul P{

        font-size: 30px;
        font-weight: bold;
        text-align: center;
        padding: 6px 14px;
        background-color: var(--main-color);
        width: fit-content;
        margin: 0 auto;
        border-radius: 30px;
        color: #053a68;
        letter-spacing: 4px;
        border: 1px solid var(--border-color);

        
    
    }*/

    header nav .links ul .btn-close{
    
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: var(--main-color);
    display: block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    }

    header nav .links ul .btn-close:hover{

        color: var(--dark-red);
        transform: scale(1.2);
    }


    header .links .btn-open{
    
    display: block;
    font-size: 25px;
    cursor: pointer;
    
    }

    /*header .links ul .bg-overlay{

        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: calc(100% - 400px);
        background: #00000071;
        transition: all 0.3s ease-in-out;
    }

    header .links ul.active .bg-overlay{

        right: 0
    }*/

    .banner{

        margin: 0;
    }

    .slide{

        margin-bottom: 50px;
    }

    .slide-product .categ-img{

        display: none;
    }

    .slide-product .product-swip{

        width: 100%;
    }


    .news-letter .text h4{

        font-size: 25px;
    }

    .news-letter .text p{

        font-size: 14px;
    }

    .news-letter .text h6{

        font-size: 18px;
    }

    .banner .container{

        gap: 15px
    }


     /* ******* footer ************************/


     .back-to-top p{

        padding: 10px;
        font-size: 15px;
    }

    footer .big-raw img{

        width: 115px
    }

    footer .container .big-raw .hotline i{

        font-size: 39px;
    }

    footer .container .big-raw .hotline h5{

        font-size: 13px;
    }

    footer .container .big-raw .hotline h6{

        font-size: 13px;
    }

    footer .container .big-raw p{

        font-size: 12px;
    }

    footer .container .raw h4{

        font-size: 13px;
    }

    footer .container .raw .links a{

        font-size: 13px;
    }

    footer .container .raw h4{

        margin-bottom: 5px;
    }


    .bottom-footer .container{

        flex-direction: column;
        gap: 20px;
        margin: auto;
    }

    .bottom-footer .container p{

        font-size: 12px;
    }
    

    .bottom-footer .payment-img img{

        width: 50px
    }

    
}


@media (max-width: 700px){

    .slider .container .slide-swp{

        width: 100%;
        order: 3
    }

    .slider .container .side-bar{

        width: 100%
    }


   


    .slide .container .mySwiper .btn_swip.swiper-button-prev{


        padding: 0 15px;
    }

    .slide .container .mySwiper .btn_swip.swiper-button-next{


        padding: 0 15px;
    }

    .slide .container .mySwiper .btn_swip.swiper-button-prev::after{


        font-size: 18px;
    }

    .slide .container .mySwiper .btn_swip.swiper-button-next::after{


        font-size: 18px;
    }

    :root{

        --swiper-navigation-size: 31px !important;
    }

    .news-letter .text h4{

        font-size: 20px;
    }

    

    .banner-big.banner .container{

        margin-bottom: 20px ;
    }

    .banner-big.banner .container .banner-img{

        width: 100%;
        
    }
}





@media (max-width: 500px){

    header .top-nav .search{

        width: 100%
    }

    header .top-nav .search input{

        padding: 13px 130px 13px 20px;
    }

    header .top-nav .search button{

        width: 120px;
        font-size: 14px;
    }

    header .links ul{

        width: 100%;
        left: -100%;
    }

    .cart{

        width: 100%;
        right: -100%
    }

    .product .product-name a{

        font-size: 13px;
    }

    .product{

        padding: 15px 10px;
    }

    .stars i{

        font-size: 14px;
    }

    .slide{

        margin-bottom: 30px;
    }

    .top-slide h2{

        font-size: 16px;
    }

    .news-letter .newsletter-form{

        width: 100%
    }


    

    .news-letter .text p{

        font-size: 13px;
    }

    .news-letter .text h6{

        font-size: 14px;
    }

    .news-letter .newsletter-form button{


        width: 100px;
        font-size: 14px;
    }

    .news-letter .newsletter-form input::placeholder{

        font-size: 13px;
    }

    .news-letter .newsletter-form input{

        padding: 16px 130px 16px 20px;
    }



    .banner .container{

        flex-wrap: wrap;
        margin: 0 auto;
        
    }

    .banner .container .banner-img{

        margin-bottom: 20px;
        margin: 10px auto;
    }

    .banner .container{

        gap: 15px
    }



    


}



/**************** item.html ****************************/


.item-detail{

    background-color: #fff;
    padding: 50px 0;
}

.item-detail .container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}

.item-detail .img-item{

    width: 40%;
    
}

.item-detail .img-item .big-img img{

    width: 100%
}


.item-detail .img-item .sm-imgs{

    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.item-detail .img-item .sm-imgs img{

    width: 24%
}

.item-detail .details-item{

    width: 58%
}

.item-detail .details-item h1{

    margin-bottom: 30px;
}

.item-detail .details-item h5{

    font-weight: 500;
    margin-bottom: 20px;
    font-size: 16px;
}

.item-detail .details-item h5 span{

    color: var(--main-color);
}

.item-detail .details-item .price{
    display: flex;
    justify-content: left;
    margin: 20px 0;
    gap: 20px;
}

.item-detail .details-item .price p span{

    color: var(--main-color);
    font-size: 22px;
    font-weight: bold;
}

.item-detail .details-item .price .old-price{

    text-decoration: line-through;
    font-size: 22px;
}

.item-detail .details-item .text-p{

    line-height: 1.5;
}

.item-detail .details-item h4{

    font-size: 20px;
    margin-top: 20px;
}

.item-detail .details-item .stars i{

    color: var(--main-color);
}

.item-detail .details-item button{

    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--dark-color);
    font-weight: bold;
    padding: 14px 35px;
    border-radius: 5px;
    margin: 30px 0;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.item-detail .details-item button:hover{

    scale: 1.1
}

.item-detail .details-item button i{

    font-size: 25px;
    margin-left: 7px;
}

.item-detail .details-item .icons{

    display: flex;
    gap: 10px;
}

.item-detail .details-item .icons i{

    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: #efeeee;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.item-detail .details-item .icons i:hover{

    background-color: var(--main-color);
}



/****************** responsive item.html******************/



@media (max-width: 1000px) {
    
    .item-detail .container{

        flex-direction: column;
        gap: 40px;
    }

    .item-detail .container .img-item{

        width: 50%
    }

    .item-detail .container .details-item{

        width: 100%
    }

}


@media (max-width: 800px){

    .item-detail .container .img-item{

        width: 80%
    }


    .item-detail .details-item h1{

        font-size: 20px;
    }

    .item-detail .details-item .text-p{

        font-size: 14px;
        text-align: justify;
    }

    .item-detail .details-item h4{

        font-size: 18px ;
    }

    .item-detail .details-item button{

        padding: 7px 15px;
        font-size: 16px;
    }

    .item-detail .details-item button i{

        font-size: 20px;
    }


}



/************** all-product.html******************/

.top-page{

    padding: 50px 0;
    text-align: center;
}

.top-page h1{

    font-size: 40px;
    color: var(--main-color);
    margin-bottom: 25px;
}

.top-page p{

    font-size: 18px;
    width: 60%;
    margin: 0 auto;
    line-height: 1.6;
}

.all-products .container{

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.all-products .container .filter{

    width: 280px;
    background-color: #fff;
    text-transform: capitalize;
    padding: 20px 25px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}


.all-products .container .filter input:checked{

    accent-color: var(--main-color);
}

.all-products .container .filter h4{

    margin-bottom: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.all-products .container .filter span{

    font-size: 14px;
    cursor: pointer;
}


.all-products .container .filter .filter-item .item{



    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.all-products .container .filter .filter-item .item .color{

    width: 20px;
    height: 20px;
    border-radius: 5px;
}




.all-products .container .products-div{

    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%
}


.all-products .container .products-div .product{

    width: 22%;
    margin-bottom: 20px;
}



.pagination{

    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 40px;
}

.pagination .btn-page{

    font-size: 22px;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.pagination .btn-page:hover{

    color: var(--main-color);
}

.pagination .num-page{

    border: 1px solid transparent;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
}
.pagination .num-page.active,
.pagination .num-page:hover{

    border: 1px solid var(--main-color);
    cursor: pointer;
}

.all-products .btn-filter{

    display: none;
}



/************ responsive *******************************/


@media (max-width: 1500px){
    
    .all-products .container .products-div .product{

        width: 31%
    }
}


@media (max-width: 1000px){

    .all-products .container .filter{

        position: absolute;
        left: -46%;
        top: 60px;
        width: 40%;
        z-index: 100;
        transition: all 0.5s ease-in-out;

        
    }

    .all-products .container .filter.active{

        left: 0

    }



    .all-products .container .products-div{

        width: 100%;
        gap: 0;
        justify-content: space-between;
        
    }

    .all-products .container{

        position: relative;
        padding-top: 60px;
    }

    .all-products .btn-filter{
        display: block;
        position: absolute;
        top: 0;
        padding: 10px 30px;
        background-color: var(--main-color);
        font-size: 18px;
        border-radius: 5px;
    }
}


@media (max-width: 650px){


    .all-products .container .products-div .product{

        width: 48%;
    }

    .top-page{

        padding: 20px 0;
    }

    .top-page h1{

        font-size: 22px;
    }

    .top-page p{

        font-size: 14px;
        width: 90%;
    }
}


@media (max-width: 450px){

    .all-products .container .filter{

        width: 100%;
        left: -150%;
    }
}

















































































































































































































































































